.genDropdown {
  margin: 0 auto 1.5rem auto;
  width: 200px;
  position: relative;
  z-index: 2000;
}

.genDropdown p {
  padding: 1rem;
  background-color: orange;
  color: #333;
}

.generations {
  position: absolute;
  top: 2.5rem;
  background-color: #333;
  width: 100%;
  display: none;
  transition: all 0.3s ease;
}

.generations ul li {
  list-style-type: none;
  transition: all 0.3s ease;
}

.generations ul li button {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-family: inherit;
  width: 100%;
  background-color: #222;
  color: #fff;
  cursor: pointer;
}

.generations ul li button:hover {
  background-color: #666;
}

/*** On hover */
.genDropdown:hover .generations {
  display: block;
}
